.form-spam_tokens_op {
/*  font-size: small; */
  margin-left: 2.0em;
  margin-top: 0.5em;
  padding: 1px;
}

.spam_tokens_box {
  border: 5px ridge gold;
  width: 10em;
  background-color: #ffffff;
  margin-left: 2.0em;
  margin-top: 0.5em;
  padding: 25px;
}

.spam_tokens_intro {
  width: 100%;
  margin-top: 0.5em;
}

.spam_tokens_import .resizable-textarea textarea#edit-token-list {
  width: 20.0em;
}